{%extends 'note/base.html'%}
{%load staticfiles%}
{%block navbar%}
<li class="active"><a href="{%url 'manage_wbz'%}">查看修改</a></li>
<li ><a href="{%url 'new_note'%}">新增记录</a></li>
{%endblock%}
{%block left_navbar_header%}
我的记录
{%endblock%}
{%block left_navbar%}
<li {%block active_manage_wbz%}{%endblock%}><a href="{%url 'manage_wbz'%}"><i class="fa fa-table"></i> <span>未报账记录</span></a></li>
<li {%block active_manage_ybz%}{%endblock%}><a href="#"><i class="fa fa-table"></i> <span>已报账记录</span></a></li>
<li {%block active_manage_sh%}{%endblock%}><a href="{%url 'manage_sh'%}"><i class="fa fa-table"></i> <span>售后单位</span></a></li>
<li {%block active_manage_lx%}{%endblock%}><a href="{%url 'manage_lx'%}"><i class="fa fa-table"></i> <span>设备类型</span></a></li>
<li {%block active_manage_xh%}{%endblock%}><a href="{%url 'manage_xh'%}"><i class="fa fa-table"></i> <span>设备型号</span></a></li>
{%endblock%}