{%extends 'note/management/base_manage.html'%}
{%load staticfiles%}
{%block head%}
<link rel="stylesheet" href="{%static 'note/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css'%}">
{%endblock%}
{%block active_manage_sh%}
class="active"
{%endblock%}
{%block content-header-1%}
我的记录
{%endblock%}
{%block content-header-1-content%}
售后单位
{%endblock%}
{%block content-header%}
管理查看
{%endblock%}
{%block content-header-2%}
我的记录
{%endblock%}
{%block content-header-2-content%}
售后单位
{%endblock%}
{%block content%}
<div class="row">
        <div class="col-xs-12">
          <!-- 数据表格 -->
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">售后单位</h3>
            </div>
            <div class="box-body">
              <div class="table-responsive">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>售后单位</th>
                  <th>部门</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {%for note in notes%}
                <tr>
                  <td>{{note.title}}</td>
                  <td>{{note.group.name}}</td>
                  <td>修改</td> 
                </tr>
                {%endfor%}
                </tbody>
              </table>
              </div>
            </div>
          </div>
        </div>
      </div>
{%endblock%}
{%block script%}
<script src="{%static 'note/bower_components/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{%static 'note/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js'%}"></script>
<script>
  $(function () {
    $('#example1').DataTable()
  })
</script>
{%endblock%}