{%extends 'note/management/base_manage.html'%}
{%load staticfiles%}
{%block active_manage_xh%}
class="active"
{%endblock%}
{%block content-header-1%}
我的记录
{%endblock%}
{%block content-header-1-content%}
设备型号
{%endblock%}
{%block content-header%}
管理查看
{%endblock%}
{%block content-header-2%}
我的记录
{%endblock%}
{%block content-header-2-content%}
设备型号
{%endblock%}
{%block content%}
<div class="row">
        <div class="col-xs-12">
          <!-- 数据表格 -->
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">设备型号</h3>
            </div>
            <div class="box-body">
              <div class="table-responsive">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>名称</th>
                  <th>型号</th>
                  <th>售后单位</th>
                  <th>部门</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {%for note in notes%}
                <tr>
                  <td>{{note.title}}</td>
                  <td>{{note.lx.title}}</td>
                  <td>{{note.lx.sh.title}}</td>
                  <td>{{note.lx.sh.group.name}}</td>
                  <td>
                    <button class="btn btn-link btn-xs edit_xh" type="button" data-toggle="modal" data-target="#modal_detail" value="{{note.id}}">修改</button>
                  </td> 
                </tr>
                {%endfor%}
                </tbody>
              </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 模态框 -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal_detail">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
{%endblock%}
