{%extends 'note/management/base_manage.html'%}
{%load staticfiles%}
{%block active_manage_wbz%}
class="active"
{%endblock%}
{%block content-header-1%}
我的记录
{%endblock%}
{%block content-header-1-content%}
未报账记录
{%endblock%}
{%block content-header%}
管理查看
{%endblock%}
{%block content-header-2%}
我的记录
{%endblock%}
{%block content-header-2-content%}
未报账
{%endblock%}
{%block content%}
<div class="row">
        <div class="col-xs-12">
          <!-- 数据表格 -->
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">
              <p>统计信息</p>
              <div class="row">
                <div class="col-sm-12 hidden-xs">
                  <ul class="list-inline">
                    <li>总计：{{total_p}}（元）</li>
                    {%for unit_type in unit_types%}
                    <li>{{unit_type}}：{{unit_type.ut_p}}（元）</li>
                    {%endfor%}
                  </ul>
                </div>
              </div>
            </h3>
            </div>
            <div class="box-body">
              <div class="table-responsive">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>日期</th>
                  <th>类型</th>
                  <th>型号</th>
                  <th>故障</th>
                  <th>单价</th>
                  <th>数量</th>
                  <th>地点</th>
                  <th>处理</th>
                  <th>状态</th>
                  <th>合计</th>
                  <th>操作</th>

                </tr>
                </thead>
                <tbody>
                {%for note in notes%}
                <tr>
                  <td>{{note.date}}</td>
                  <td>{{note.lb}}</td>
                  <td>{{note.xh}}</td>
                  <td>{{note.gz}}</td>
                  <td>{{note.jg}}</td>
                  <td>{{note.sl}}</td>
                  <td>{{note.dd}}</td>
                  <td>{{note.fs}}</td>
                  <td>{{note.zt}}</td>
                  <td>{{note.hj}}</td>
                  <td>
                    <button class="btn btn-link btn-xs show_detail" type="button" data-toggle="modal" data-target="#modal_detail" value="{{note.id}}">详细</button>
                    <button class="btn btn-link btn-xs edit" type="button" data-toggle="modal" data-target="#modal_detail" value="{{note.id}}">修改</button>
                    <a href="{%url 'delete_note'%}?note_id={{note.id}}" class="btn btn-xs" onclick="return delete_waring()">删除</a>
                  </td>
                </tr>
                {%endfor%}
                </tbody>
              </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 模态框 -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal_detail">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
{%endblock%}