{%extends 'note/show_notes/wbz/base_wbz.html'%}
{%load staticfiles%}
{%block active_tb%}
class='active'
{%endblock%}
{%block content-header-1-content%}
图表信息
{%endblock%}
{%block content-header-2-content%}
图表信息
{%endblock%}
{%block content%}
<div class="row">
  <!-- 所有部门 -->
  <div class="col-sm-6">
    <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-bar-chart-o"></i>

              <h3 class="box-title">全部门费用占比</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
                <div id="container" style="height: 300px;"></div>            
  </div>
</div>
</div>
<!-- 电教部 -->
<div class="col-sm-6">
    <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-bar-chart-o"></i>

              <h3 class="box-title">电教部设备费用占比</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
                <div id="container_dj" style="height: 300px;"></div>            
  </div>
</div>
</div>
<!-- 计算机部 -->
<div class="col-sm-6">
    <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-bar-chart-o"></i>

              <h3 class="box-title">计算机部设备费用占比</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
                <div id="container_jsj" style="height: 300px;"></div>            
  </div>
</div>
</div>
<!-- 网络信息部 -->
<div class="col-sm-6">
    <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-bar-chart-o"></i>

              <h3 class="box-title">网络信息部设备费用占比</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
                <div id="container_wl" style="height: 300px;"></div>            
  </div>
</div>
</div>
</div>
{%endblock%}
{%block script_page%}
<script src="{%static 'note/bower_components/fastclick/lib/fastclick.js'%}"></script>
<script src="{%static 'note/bower_components/Flot/jquery.flot.js'%}"></script>
<script src="{%static 'note/bower_components/Flot/jquery.flot.resize.js'%}"></script>
<script src="{%static 'note/bower_components/Flot/jquery.flot.pie.js'%}"></script>
<script src="{%static 'note/highcharts/highcharts.js'%}"></script>
<script type="text/javascript">
  // 所有部门
	    Highcharts.chart('container', {
    chart: {
        type: 'pie'
    },
    title:{
      text:null,
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'},
    plotOptions: {
        pie: {
            // 可以点击激活
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                distance: -20,
                format: '{point.name}: {point.percentage:.1f} %',
            },
            showInLegend: true,
        }
    },
    series: [{
        name: '比例',
        colorByPoint: true,
        innerSize: '50%',
        data: [
          {%for group in groups%}
          {
            name:"{{group.name}}",
            y:{{group.group_p}},
          },
          {%endfor%}
       ]
    }],
    legend:{
        enabled:true,
        labelFormat: '{name}: {y}（元）',
      },
    credits:{
      enabled : false,
    }
});
  // 电教部
  Highcharts.chart('container_dj', {
    chart: {
        type: 'pie'
    },
    title:{
      text:null,
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'},
    plotOptions: {
        pie: {
            // 可以点击激活
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                distance: -20,
                format: '{point.name}: {point.percentage:.1f} %',
            },
            showInLegend: true,
        }
    },
    series: [{
        name: '比例',
        colorByPoint: true,
        innerSize: '50%',
        data: [
          {%for unit_type in unit_types_dj%}
          {
            name:"{{unit_type.title}}",
            y:{{unit_type.ut_p}},
          },
          {%endfor%}
       ]
    }],
    legend:{
        enabled:true,
        labelFormat: '{name}: {y}（元）',
      },
    credits:{
      enabled : false,
    }
});
// 计算机部
Highcharts.chart('container_jsj', {
    chart: {
        type: 'pie'
    },
    title:{
      text:null,
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'},
    plotOptions: {
        pie: {
            // 可以点击激活
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                distance: -20,
                format: '{point.name}: {point.percentage:.1f} %',
            },
            showInLegend: true,
        }
    },
    series: [{
        name: '比例',
        colorByPoint: true,
        innerSize: '50%',
        data: [
          {%for unit_type in unit_types_jsj%}
          {
            name:"{{unit_type.title}}",
            y:{{unit_type.ut_p}},
          },
          {%endfor%}
       ]
    }],
    legend:{
        enabled:true,
        labelFormat: '{name}: {y}（元）',
      },
    credits:{
      enabled : false,
    }
});
// 网络信息部
Highcharts.chart('container_wl', {
    chart: {
        type: 'pie'
    },
    title:{
      text:null,
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'},
    plotOptions: {
        pie: {
            // 可以点击激活
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                distance: -20,
                format: '{point.name}: {point.percentage:.1f} %',
            },
            showInLegend: true,
        }
    },
    series: [{
        name: '比例',
        colorByPoint: true,
        innerSize: '50%',
        data: [
          {%for unit_type in unit_types_wl%}
          {
            name:"{{unit_type.title}}",
            y:{{unit_type.ut_p}},
          },
          {%endfor%}
       ]
    }],
    legend:{
        enabled:true,
        labelFormat: '{name}: {y}（元）',
      },
    credits:{
      enabled : false,
    }
});
</script>
{%endblock%}