{%extends 'note/show_notes/wbz/base_wbz.html'%}
{%load staticfiles%}
{%block active_jsj%}
class='active'
{%endblock%}
{%block content-header-1-content%}
计算机部
{%endblock%}
{%block content-header-2-content%}
计算机部
{%endblock%}
{%block table_title%}
<p>统计信息</p>
<div class="row">
	<div class="col-sm-12 hidden-xs">
		<ul class="list-inline">
			<li >总计：{{total_p}}（元）</li>
			{%for unit_type in unit_types%}
			<li >
			{{unit_type.title}}:{{unit_type.ut_p}}（元）
			</li>
	{%endfor%}
</ul>
	</div>
</div>
{%endblock%}