      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">详细信息</h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>通知时间</th>
				<th>到校时间</th>
				<th>返校时间</th>
				<th>响应时长</th>
				<th>修复时长</th>
				<th>序列号</th>
				<th>售后人员</th>
				<th>电话</th>
				<th>创建人</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{note.tzsj}}</td>
				<td>{{note.dxsj}}</td>
				<td>{{note.fxsj}}</td>
				<td>{{note.xysc}}</td>
				<td>{{note.xfsc}}</td>
				<td>{{note.sn}}</td>
				<td>{{note.shry}}</td>
				<td>{{note.shdh}}</td>
				<td>{{note.owner}}</td>
			</tr>
		</tbody>		
	</table>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>